label {
    font-family: "alarm clock";
    font-size: 200px;
}

.white {
    color: white;
}

.red {
    color: red;
}

separator {
    background-color: white;
}

window {
    background-color: black;
}
